#logo {
    width: 90px;
}

body{
    background-color: white;
}

nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 800px;   
    margin-top: 0px;
}

a {
    justify-content: flex-end;
    justify-content: center;
    margin: 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: black;
    text-decoration: none;
    width: 150px;
    flex-direction: row;
}


a:hover {
    color: olivedrab;
    transition: 0.3s all;
}

#bnt {
    border: 2px solid green;
    padding: 5px;
    border-radius: 15px;
    display: flex;
}

#bnt:hover {
    background-color: green;
    color: white;
}

#baner {
    width: 1520px;
    margin-left: -10px;
    margin-right: -0px;
    margin-top: 0px;
    height: 660px;
}

h1 {
   margin-top: -400px;
   margin-left: 50px;
   color: azure;
   font-family: 'League Spartan', sans-serif;
}

h2 {
   margin-top: 100px;
   margin-left: 50px;
   color: azure;
   font-family: 'League Spartan', sans-serif;
}

div {
    color: black;
    padding-left: 450px;
    padding-top: 190px;
    font-family: 'League Spartan', sans-serif;
}

.footerp {
   padding-left: 100px;
   padding-top: 2px;
   
}  

.whatsapp {
    width: 30px;
}

.telefone {
    width: 30px;
}

.email {
    width: 30px;
}

span {
    color: green;
}

.sobreimg {
    width: 1520px;
    margin-left: -10px;
    margin-right: -0px;
    margin-top: 0px;
    height: 660px;
}

.sobreinfo {
    margin-top: -500px;
    margin-left: 920px;
    color: green;
    font-family: 'League Spartan', sans-serif;
}

.sobreinfo1 {
    margin-top: 30px;
    margin-left: 880px;
    color: black;
    font-family: 'League Spartan', sans-serif;
}

.footersobre {
    color: black;
    padding-left: 450px;
    padding-top: 110px;
    font-family: 'League Spartan', sans-serif;
}

table {
    border: 1px solid black;
    width: 1200px;
    margin-left: 150px;
    margin-top: -600px;
    position: relative;
}

caption {
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    margin-top: 100px;

}

td {
   text-align: center;
   font-family: 'League Spartan', sans-serif;
   font-weight: 300;
   border: 1px solid rgb(160 160 160);
   padding: 8px 10px;
}

th {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    background-color: rgb(42, 134, 246);
    text-decoration: underline;
}

table tbody tr:nth-child(even) td {
    background-color: aquamarine;
}

.atimg {
    width: 1520px;
    margin-left: -10px;
    margin-right: -0px;
    margin-top: 0px;
    height: 660px;
}

form {
   font-family: 'League Spartan', sans-serif;
   display: flex;
   flex-direction: column;
   width: 50%;
   position: relative;
   top: -400px;
   left: 500px;
}

input {
    margin-top: 10px;
    height: 20px;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 15px;
}

textarea {
    font-family: 'League Spartan', sans-serif;
    margin-top: 10px;
    margin-left: 0px;
    height: 20px;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 15px;
}
.btnenviar {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 100px;
    border: 2px solid green;
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
 }

 .btnlimpar {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    margin-top: -40px;
    margin-left: 300px;
    border: 2px solid green;
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
 }

 button:hover {
    background-color:green;
    color: white;
 }

 iframe {
    margin-left: 0px;
    margin-top: 10px;
 }

 .endereco {
    margin-top: -200px;
    text-align: center;
    color: black;
 }

 .sub {
    text-align: center;
 }
